@import url("https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Oswald:300&subset=cyrillic");
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-width: 32rem;
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  font-size: 2rem;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --circle-r: 15rem;
  --main-font: 'Oswald', sans-serif;
  --label-font: 'Lobster', cursive;
  --bg-accent-1: hsl(150, 100%, 35%);
  --bg-accent-2: hsl(345, 85%, 44%);
  --bg-accent-3: hsl(204, 100%, 40%);
  --bg-accent-4: hsl(300, 100%, 25%);
  --bg-accent-5: hsl(176, 42%, 33%);
  --bg-circle-color: hsl(14, 20%, 25%);
  --flashcard-bg-color: hsl(56, 100%, 97%);
  --text-color: hsl(42, 71%, 44%);
  --label-color: hsl(42, 71%, 33%);
  --highlight: hsl(185, 100%, 70%); }

header,
footer {
  margin: 0;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--bg-circle-color);
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased; }

[property="settings"] button {
  margin: 0.3rem;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 100;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-family: var(--main-font); }

[property="settings"] > summary {
  margin: 0.5rem 0;
  font-size: 4rem;
  cursor: default; }
  [property="settings"] > summary::-webkit-details-marker {
    display: none; }
  [property="settings"] > summary:after {
    display: block;
    margin-right: 2.2rem;
    margin-top: 1.2rem;
    float: right;
    content: "\f142";
    font-family: 'FontAwesome'; }

[property="settings"][open] > summary:after {
  content: "\f057";
  margin-right: 1rem; }

[property="settings"] .fa {
  margin-right: 1rem; }

[property="settings"] .fa-font,
[property="settings"] .fa-globe {
  margin: 0;
  margin-left: 1rem; }

[property="settings"] [property="characters"] {
  border: none !important;
  padding: 0 !important;
  cursor: pointer; }
  [property="settings"] [property="characters"]:hover {
    box-shadow: none !important; }
  [property="settings"] [property="characters"]::before {
    content: attr(aria-label) !important;
    color: white;
    font-weight: 100;
    font-family: var(--main-font); }

[property="settings"] [property="language"] {
  border: none !important;
  padding: 0 !important;
  cursor: pointer; }
  [property="settings"] [property="language"]:hover {
    box-shadow: none !important; }
  [property="settings"] [property="language"]::before {
    content: attr(aria-label) !important;
    color: white;
    font-weight: 100;
    font-family: var(--main-font); }

[property="settings"]:not([mv-mode="edit"]) .hide-icon {
  display: none; }

[property="settings"] .filter-section {
  display: inline-block;
  margin: 0.3rem;
  cursor: pointer; }
  [property="settings"] .filter-section summary::-webkit-details-marker {
    display: none; }
  [property="settings"] .filter-section .mv-popup {
    position: absolute; }

[property="settings"] .highlight {
  color: var(--highlight);
  filter: drop-shadow(0px 0 0.4rem var(--highlight)); }

[class*="mv-add-flashcard"] {
  width: 4.5rem;
  height: 4.5rem;
  margin: 1rem 2rem 0;
  margin-right: auto;
  padding: 1.35rem 1.4rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  color: var(--bg-circle-color);
  font-size: 2.2rem;
  line-height: 2.2rem;
  border: none;
  border-radius: 2.25rem;
  background-color: var(--flashcard-bg-color);
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  [class*="mv-add-flashcard"]:hover {
    width: min-content; }
  [class*="mv-add-flashcard"] .fa {
    margin-right: 1.3rem; }

main {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  scroll-snap-type: y proximity; }

footer {
  padding: 2rem;
  text-align: center; }
  footer * {
    color: currentColor; }
  footer p {
    margin: 0; }

[property="flashcard"] {
  position: relative;
  width: 30rem;
  padding: 3.5rem;
  padding-bottom: 4.2rem;
  padding-top: calc(var(--circle-r) * 1.45);
  color: var(--text-color);
  border-radius: 2rem;
  background-color: var(--flashcard-bg-color);
  scroll-snap-align: start;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.7), 0 0 12rem #8a4d0f inset;
  background-image: radial-gradient(at 50% 0, var(--text-color), transparent 60%);
  background-position-y: calc(var(--circle-r) * 1.4);
  background-size: 100% 0.25rem;
  background-repeat: no-repeat; }
  [property="flashcard"].filtered {
    position: absolute;
    visibility: hidden; }
  [property="flashcard"]::before, [property="flashcard"]::after {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: var(--circle-r);
    height: var(--circle-r);
    text-align: center;
    font-size: calc(var(--circle-r) / 1.5);
    border-radius: 50%;
    top: calc(var(--circle-r) / 3.5); }
  [property="flashcard"]::before {
    content: attr(data-uppercase-letter);
    line-height: var(--circle-r);
    color: white;
    background-color: #4d3933;
    mix-blend-mode: multiply;
    z-index: 1;
    left: calc(15rem - var(--circle-r) / 2 - 1.8rem); }
  [property="flashcard"]::after {
    content: attr(data-lowercase-letter);
    color: #e6e6e6;
    opacity: 0.8;
    top: 2.5rem;
    left: calc(15rem - var(--circle-r) / 2 + 1.8rem); }
  [property="flashcard"][data-bgc-index="1"]::after {
    background-color: var(--bg-accent-1); }
  [property="flashcard"][data-bgc-index="2"]::after {
    background-color: var(--bg-accent-2); }
  [property="flashcard"][data-bgc-index="3"]::after {
    background-color: var(--bg-accent-3); }
  [property="flashcard"][data-bgc-index="4"]::after {
    background-color: var(--bg-accent-4); }
  [property="flashcard"][data-bgc-index="5"]::after {
    background-color: var(--bg-accent-5); }
  [property="flashcard"] > p {
    position: relative;
    padding-top: 0.2rem;
    font-family: var(--main-font);
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    min-width: 100%;
    cursor: default; }
    [property="flashcard"] > p::before {
      content: attr(aria-label);
      position: absolute;
      top: -2.3rem;
      color: var(--label-color);
      font-family: var(--label-font);
      font-size: 1.6rem;
      opacity: 0.7; }
  [property="flashcard"] [property="source"] {
    margin-bottom: 3.2rem;
    font-size: 3.5rem;
    line-height: 3.5rem; }
    [property="flashcard"] [property="source"]::before {
      top: -2.7rem; }
  [property="flashcard"] .show-translation {
    font-family: var(--label-font);
    font-size: 1.8rem;
    color: var(--label-color);
    cursor: pointer; }
    [property="flashcard"] .show-translation input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0; }
    [property="flashcard"] .show-translation .fa {
      margin-right: 1rem; }
  [property="flashcard"] [property="translation"] {
    margin-top: 3.5rem;
    padding-bottom: 2.5rem;
    background-image: radial-gradient(at 50% 100%, var(--text-color), transparent 70%);
    background-position: bottom;
    background-size: 100% 0.25rem;
    background-repeat: no-repeat; }
  [property="flashcard"] [property="example"] {
    margin-top: 3.2rem;
    font-size: 1.8rem;
    line-height: 2.2rem; }
  [property="flashcard"] .self-eval-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    font-family: var(--label-font); }
    [property="flashcard"] .self-eval-buttons p {
      grid-column: span 3;
      margin: 1.2rem 0;
      color: var(--label-color); }
    [property="flashcard"] .self-eval-buttons button {
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      color: transparent;
      text-shadow: 0 0 0 var(--label-color);
      font-size: 3rem;
      cursor: pointer; }
  [property="flashcard"][mv-mode="edit"] > p {
    margin-bottom: 0; }
  [property="flashcard"][mv-mode="edit"] details {
    margin: 0;
    font-family: var(--label-font);
    font-size: 1.6rem;
    text-align: center; }
    [property="flashcard"][mv-mode="edit"] details summary {
      text-align: left;
      margin-bottom: 0.7rem;
      cursor: default;
      opacity: 0.9; }
    [property="flashcard"][mv-mode="edit"] details button {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.3rem;
      padding: 0.1rem;
      color: var(--label-color);
      font-family: var(--main-font);
      font-size: 1.7rem;
      line-height: 1.7rem;
      border-radius: 50%;
      background-color: var(--flashcard-bg-color);
      border: 1px solid var(--text-color);
      transition: all 0.2s ease-out; }
      [property="flashcard"][mv-mode="edit"] details button:hover, [property="flashcard"][mv-mode="edit"] details button.on {
        background-color: var(--label-color);
        color: var(--flashcard-bg-color);
        border-color: var(--flashcard-bg-color); }
      [property="flashcard"][mv-mode="edit"] details button:last-of-type {
        display: block;
        margin: 1rem auto;
        width: 90%;
        border-radius: initial; }
    [property="flashcard"][mv-mode="edit"] details:first-of-type {
      padding: 0.7rem 0; }
    [property="flashcard"][mv-mode="edit"] details:last-of-type {
      padding-top: 0.5rem;
      padding-bottom: 1rem; }
  [property="flashcard"][mv-mode="edit"] [property="translation"] {
    margin-top: 3rem; }
  [property="flashcard"][mv-mode="edit"] meta {
    display: none; }
  [property="flashcard"][mv-mode="edit"] .fa-pencil {
    color: var(--highlight);
    filter: drop-shadow(0px 0 0.4rem var(--highlight)); }
  [property="flashcard"][mv-mode="edit"] .self-eval-buttons {
    display: none; }
  [property="flashcard"]:not([mv-mode="edit"]) details {
    display: none; }

.mv-popup {
  font-family: var(--main-font) !important; }

/* Hide text on narrow screens */
@media screen and (max-width: 465px) {
  .hide {
    display: none; }
  [property="characters"][mv-mode="edit"]::before {
    content: "\f031" !important;
    font-family: 'FontAwesome';
    margin-right: 1rem; }
  [property="language"][mv-mode="edit"]::before {
    content: "\f0ac" !important;
    font-family: 'FontAwesome';
    margin-right: 1rem; }
  [property="settings"] > summary {
    font-size: 2.5rem; }
    [property="settings"] > summary:after {
      margin-right: 0.8rem;
      margin-top: 0.8rem; }
  [property="settings"][open] > summary:after {
    margin-right: 0; }
  footer {
    font-size: 1.5rem; } }

[mv-progress="Loading"] * {
  visibility: hidden; }
